<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<real>64</real>
	</dict>
	<key>bodies</key>
	<dict>
		<key>cross_100х100</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>25</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>1</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -98.000,14.000 }</string>
							<string>{ -97.000,-14.000 }</string>
							<string>{ 97.000,-14.000 }</string>
							<string>{ 97.000,14.000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 14.000,-97.000 }</string>
							<string>{ 13.000,97.000 }</string>
							<string>{ -14.000,98.000 }</string>
							<string>{ -14.000,-96.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>gear_big</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>25</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>1</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>121.017</real>
						<key>position</key>
						<string>{ 0.349,-0.337 }</string>
					</dict>
				</dict>
				<dict>
					<key>density</key>
					<real>25</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>1</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -51.000,157.000 }</string>
							<string>{ -62.000,138.000 }</string>
							<string>{ 0.000,-156.000 }</string>
							<string>{ 63.000,-139.000 }</string>
							<string>{ -1.000,154.000 }</string>
							<string>{ -21.000,163.000 }</string>
						</array>
						<array>
							<string>{ 21.000,-165.000 }</string>
							<string>{ 53.000,-155.000 }</string>
							<string>{ 63.000,-139.000 }</string>
							<string>{ 0.000,-156.000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>25</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>1</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 148.000,101.000 }</string>
							<string>{ 127.000,123.000 }</string>
							<string>{ 104.000,123.000 }</string>
							<string>{ -146.000,-81.000 }</string>
							<string>{ -129.000,-122.000 }</string>
							<string>{ -106.000,-125.000 }</string>
							<string>{ 145.000,79.000 }</string>
						</array>
						<array>
							<string>{ -146.000,-104.000 }</string>
							<string>{ -129.000,-122.000 }</string>
							<string>{ -146.000,-81.000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>25</real>
					<key>friction</key>
					<real>0.2</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>1</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 177.000,-33.000 }</string>
							<string>{ 164.000,-13.000 }</string>
							<string>{ -141.000,70.000 }</string>
							<string>{ -165.000,14.000 }</string>
							<string>{ 144.000,-70.000 }</string>
							<string>{ 166.000,-61.000 }</string>
						</array>
						<array>
							<string>{ -165.000,62.000 }</string>
							<string>{ -176.000,32.000 }</string>
							<string>{ -165.000,14.000 }</string>
							<string>{ -141.000,70.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
